#services{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.offer{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--blue-l);        
}

.services-wrapper{
    width: 75vw;
    margin: 0 auto;
    padding:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
} 


.card-container{
    width: 21vw;
    height: 60vh;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 3px solid var(--purple-l);
    border-radius: 20px;
    
    background-color: var(--purple-l);
    color:var(--light);
    
    transition: all 0.5s ease-out;
}

.card-container:hover{
    transform:scale(1.2);
    box-shadow: 0 5px 10px var(--purple);
}

.card-picture{
    background-color: var(--dark);
    border-radius: 20px 20px 0 0 ;
    height: 25vh;
    width:100%;
    padding-top: 1rem;
}

.card-content{
    display:flex;
    flex-direction: column;
}

.card-title{
    margin:auto;
    padding: 1.1rem 0;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.card-description{
    align-self: center;
    width:90%;
    font-size:1.5rem;
    
}

.card-title::first-letter,
.card-description::first-letter{
    text-transform: capitalize;
}


@media screen and (max-width: 960px){
    .services-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .card-container{
        min-width: 40vw;
        max-width:50vw;
        margin: 1rem 0;
    }

    .card-description{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:720px){
    
    .card-container{
        min-width: 50vw;
        max-width:60vw;
    }
     
}
