  @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  :root{
  --dark: #101312;
  --blue: #1c979a;
  --blue-rgb: 28, 151, 154;
  --blue-l: #2ad7da;
  --purple: #a168a1;
  --purple-rgb: 161, 104, 161;
  --purple-l: #c072c0;
  --light: #f7fff7;
  --light-rgb: 247, 255, 247;
}

::-webkit-scrollbar{
  display:none;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Ruda', serif;
  overflow-x:hidden;
  width:100vw;
}

section{
  min-height: 100vh;
  margin:0;
  padding:0;
}

/* 
section:nth-child(2n+3){
  background-color: var(--purple-l);
}
*/

.btn-section{
  padding: 0.15rem;
  border-radius: 10px;
  width: fit-content;
  background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%); 
}

